<form class="mb-4">
    <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
</form>
<section class="mb-3" *ngFor="let comments of listComments">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment with nested comments-->
            <div class="d-flex mb-4">
                <!-- Parent comment-->
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                    <div class="fw-bold">
                        {{comments.user_id}}
                    </div>
                        {{comments.comment}}
                        {{comments._id}}
                        <section listComments>
                            <a [routerLink]="['/blog/', blogId ,'comments', comments._id ]" class="btn btn-sm btn-danger"
                               (click)="deleteComment(blogId, commentId)">Delete</a>
                         </section>
                </div>
            </div>
        </div>
    </div>
</section>