
<!-- Navbar Start here -->
<nav class="navbar sticky-top bg-white shadow p-2 mb-1 bg-body rounded">
    <div class="container-fluid">
      <a class="navbar-brand ms-5 fw-bold fs-2" href="#">
        WriteIt
      </a>
  
      <div class="d-flex flex-row-reverse me-5 ">
        <div class="p-3">
          <a routerLink="/auth/login" class="allblogs" target="_blank">Login</a>
        </div>
        <div class="p-3">
          <a routerLink="/auth/newuser" class="allblogs" target="_blank">Register</a>
        </div>
        <div class="p-3">
          <a routerLink="/blogs/write" class="text-decoration-none text-secondary fw-semibold fs-6">Write a Blog</a>
        </div>
      </div>
    </div>
  </nav>