<!-- <div class="container">
  <section class="banner">
     <div class="text">
        <i> <h1 class="welcome">Welcome to zenWrite</h1></i>
        <i>
        <h3 class="intro">
          Get access to insights, updates, and resources
        </h3>
    </i>
    <i>
        <h3 class="intro">
          that let you learn more
          about technology.
        </h3>
        </i>
     </div>
     <div class="btns">
        <button type="button" class="btn btn-primary bt"  (click)="gotopage('blogs')">Read Blogs</button>
       <button type="button" class="btn btn-secondary bt" (click)="gotopage('signup')" >Sign Up</button>
     </div>
  </section>
</div> -->

