
<div class="container-fluid">
    <p class="fw-bold fs-2 mt-3 ms-4 me-4 border-bottom pb-3 mb-5 border-secondary">
        All Blogs
    </p>
</div>
<div class="container-fluid blog">
    <div class="row">
        <div class="col-sm-4 card_padding" *ngFor="let blog of listBlogs">
         <a [routerLink]="['/blogs/blogtitle', blog._id]" target="_blank" class="cardlink">
                  <div class="card h-100">
                      <img [src]="blog.imageUrl||defaultimage" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title fw-bold text-dark">{{blog.title}}</h5>
                          <a [routerLink]="['/blogs/blogtitle', blog._id]" class="btn btn-primary" target="_blank">View Blog</a>
                      </div>
                  </div>
           </a>
        </div>
    </div>
 
   