<footer class="pt-1 bg-dark text-white">
    <div class="container-fluid">
      <div class="row pt-5">
        <div class="col-3 ps-5">
          <img src="../../../assets/Images/zensar_logo.png" class="img-fluid" alt="Logo" width="60" height="40">
          <p class="fw-semibold fs-2 pt-3">Write your heart out with WriteIt !</p>
        </div>
        <div class="col-8 ">
            <div class="row gx-5">
            <div class="col-3">
              <!-- <p class="h5 pb-1">Column-1</p>
              <p><a href="" class="text-decoration-none text-secondary">Shared Inbox</a></p>
              <p><a href="" class="text-decoration-none text-secondary">Live Chat</a></p>
              <p><a href="" class="text-decoration-none text-secondary">Messaging</a></p>
              <p><a href="" class="text-decoration-none text-secondary">Reporting</a></p> -->
            </div>
            <div class="col-3">
              <p class="h5 pb-1">Help</p>
              <p><a href="https://support.google.com/" class="text-decoration-none text-secondary">Help center</a></p>
              <p><a href="https://support.google.com/" class="text-decoration-none text-secondary">Help Forum</a></p>
              <p><a href="https://www.youtube.com/c/GoogleTutorials/featured?app=desktop" class="text-decoration-none text-secondary">Video Tutorials</a></p>
              <!-- <p><a href="" class="text-decoration-none text-secondary">Reporting</a></p> -->
            </div>
            <div class="col-3">
              <p class="h5 pb-1">Developers</p>
              <p><a href="https://developers.google.com/community" class="text-decoration-none text-secondary">Developers Forum</a></p>
              <p><a href="https://developers.google.com/apis-explorer" class="text-decoration-none text-secondary">API</a></p>
              <p><a href="" class="text-decoration-none text-secondary">WriteIt Buzz</a></p>
            </div>
            <div class="col-3">
              <p class="h5 pb-1">Policies</p>
              <p><a href="https://policies.google.com/terms?hl=en-US" class="text-decoration-none text-secondary">Terms of service</a></p>
              <p><a href="https://policies.google.com/privacy?hl=en-US" class="text-decoration-none text-secondary">Privacy</a></p>
              <p><a href="https://www.google.com/intl/en-US/search/policies/usercontent/#:~:text=We%20don't%20allow%20content%20that%20advertises%20products%20or%20services,or%20misrepresented%20as%20independent%20content." class="text-decoration-none text-secondary">Content policy</a></p>
              <p><a href="https://www.google.com/intl/en_IN/policies/terms/archive/20070416/" class="text-decoration-none text-secondary">Terms of use</a></p>
              <p><a href="https://policies.google.com/technologies/cookies?hl=en-US" class="text-decoration-none text-secondary">Cookies policy</a></p>
            </div>
          </div>
  
  
        </div>
      </div>
      <div>
        <p class=" container-fluid border-bottom pt-5 pb-0 border-secondary"></p>
      </div>
      <div>
        <p class="">Copyright © 2021-2022</p>
      </div>
    </div>
  </footer>
  
  <!-- Footer End here -->
  