<!-- Blog Grid Start here -->

<div class="container">
<div class="container-fluid blog_header">
    <p class="fw-bold fs-2 mt-3 ms-4 me-4 border-bottom pb-3 mb-5 border-secondary">
      Most Recent Blogs <span>
      <a routerLink="/blog/blogs" class="allblogs">View All blogs</a></span>
    </p>
</div>

<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-md-8">
      <div class="inner">
        <img
          src="../../../assets/Images/blog-1.avif"
          class="img-fluid rounded mx-auto d-block pb-2"
          alt="Blog_1"
          width="814"
          height="457"
        />
        <p class="fw-bolder fs-4 ps-4">
          Work Until every expensive things become cheap
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="inner">
        <img
          src="../../../assets/Images/blog-2.avif"
          class="img-fluid rounded mx-auto d-block pb-2"
          alt="Blog_2"
          width="332"
          height="295"
        />
        <p class="fw-bolder fs-4 ps-5 pb-3">Your Future is created by you</p>
      </div>
      <div class="inner">
        <img
          src="../../../assets/Images/blog-3.avif"
          class="img-fluid rounded mx-auto d-block pb-2"
          alt="Blog_3"
          width="332"
          height="295"
        />
        <p class="fw-bolder fs-4 ps-5 pb-3">Work Hard Dream Big</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Blog Grid End here -->
