<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="row justify-content-center">
        <!-- <div class="navbar sticky-top bg-white shadow p-2 mb-1 bg-body rounded"> -->
            <a class="navbar-brand fw-bold fs-2 text-center" href="#">
                <img src="../../../assets/Images/zensar_logo.png" alt="" height="35" width="45">
                ZenWrite
              </a>
        <!-- </div> -->
        <div class="col-md-6">
            <h1>Sign Up</h1>
            <hr />
            <div class="signup-form">
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label>First Name <span class="error">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input formControlName="firstname" placeholder="First Name" class="form-control" />
                                <small class="error" *ngIf="f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)">
                                    <div *ngIf="f.firstname.hasError('required')">This field is required.</div>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-9">
                                <input formControlName="lastname" placeholder="Last Name" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label>E-Mail <span class="error">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input formControlName="email" placeholder="Email" class="form-control" />
                                <small class="error" *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                                    <div *ngIf="f.email.hasError('required')">This field is required.</div>
                                    <div *ngIf="f.email.hasError('email')">Enter valid email address.</div>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label>Username <span class="error">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input formControlName="username" placeholder="Username" class="form-control"  />
                                <small class="error" *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
                                    <div *ngIf="f.username.hasError('required')">This field is required.</div>
                                    <div *ngIf="f.username.hasError('pattern')">Only alphanumeric is allowed.</div>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label>Password <span class="error">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input formControlName="password" placeholder="Password" type="password" class="form-control" />
                                <small class="error" *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                                    <div *ngIf="f.password.hasError('required')">This field is required.</div>
                                    <div *ngIf="f.password.hasError('minlength')">Password must be at least 6 characters.</div>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label>Confirm Password <span class="error">*</span></label>
                            </div>
                            <div class="col-md-9">
                                <input formControlName="password2" placeholder="Confirm Password" type="password" class="form-control" />
                                <small class="error" *ngIf="f.password2.invalid && (f.password2.dirty || f.password2.touched)">
                                    <div *ngIf="f.password2.hasError('required')">This field is required.</div>
                                </small>
                                <small class="error" *ngIf="signupForm.errors?.passwordmatch && (signupForm.dirty || signupForm.touched)">
                                    Password and confirm password must be same.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-2">
                        <div class="form-row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="form-check pb-4">
                                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="check_boxx">
                                    <label class="form-check-label" for="flexCheckDefault">
                                          I agree to the terms and privacy policies.
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <p class="haveAccount"> Already have an account? <a routerLink="/auth/login" class="allblogs" target="_blank">Login</a></p>
                    </div>
                    <div class="form-group d-flex flex-row-reverse">
                        <div class="form-row">
                            <div class="col-md-3 ">
                            </div>
                            <div class="col-md-9">
                                <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- {{signupForm.value | json}} -->
            </div>
        </div>
    </div>
</div>
